<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyf.bookreaderplus.promotion.dao.BrFlashPromotionSessionMapper">

    <select id="selectSessionListByPromotionId"
            resultType="com.tyf.bookreaderplus.promotion.entity.BrFlashPromotionSession">
        select * from br_flash_promotion_session where id = #{promotionId}
    </select>
    <select id="selectByPromotionIds"
            resultType="com.tyf.bookreaderplus.promotion.entity.BrFlashPromotionSession">
        select * from br_flash_promotion_session where id in #{promotionIds}
    </select>
</mapper>
