<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyf.bookreaderplus.auth.dao.BrPermissionMapper">

    <select id="selectPermissionsByUserId" resultType="java.lang.String">
        select permission_name from br_permission bp where id in (
            select a.id from br_role_permission a
                join br_role b on a.role_id = b.id
                join br_user_role c on c.role_id = b.id
                join br_user d on d.id = c.user_id
                where bp.id = a.permission_id and d.id = #{userId}
            )
    </select>
</mapper>
